[submodule ".themes/BlogTheme"]
	path = .themes/BlogTheme
	url = https://github.com/rastersize/BlogTheme.git
[submodule ".themes/whiterspace"]
	path = .themes/whiterspace
	url = https://github.com/mjhea0/whiterspace.git
